<button (click)="generarPDF()">Descargar PDF</button>
<div id="cv-content">
<section id="inicio" class="home-card">
  
  <section id="contacto" class="contact-card">
    <app-contact></app-contact>
  </section>
  <h1>Hola, soy Ariel Campos Chavarría</h1>
  <h2>Estudiante de Ingeniería en Sistemas de Información</h2>
  <p>
    Apasionado por la tecnología y el desarrollo web y móvil. Poseo habilidades en C#, React con TypeScript,
    HTML, CSS, JavaScript, Dart, bases de datos MySQL, y frameworks como NestJS, Angular, Flutter y ASP.NET.
    Actualmente cursando el 4° año de carrera en la UNA, con visión de crecer como profesional, aprender nuevas
    tecnologías y contribuir en proyectos innovadores.
  </p>
</section>

<!-- SOBRE MÍ -->
<section id="sobre-mi" class="about-card">
  <app-about></app-about>
</section>

<!-- PROYECTOS -->
<section id="proyectos" class="projects-card">
  <app-projects></app-projects>
</section>

<!-- HABILIDADES -->
<section id="habilidades" class="skills-card">
  <app-skills></app-skills>
</section>
</div>
<section class="contact-form-section" id="formulario-contacto">
  <form class="contact-form" (ngSubmit)="enviarMensaje()" #formulario="ngForm">
    <h2>Puedes escribirme</h2>

    <label>
      Tu nombre:
      <input type="text" name="nombre" [(ngModel)]="formData.nombre" required />
    </label>

    <label>
      Tu correo:
      <input type="email" name="email" [(ngModel)]="formData.email" required />
    </label>

    <label>
      Tu mensaje:
      <textarea name="mensaje" [(ngModel)]="formData.mensaje" required></textarea>
    </label>

    <label>
      Enviar a:
      <select name="destinatario" [(ngModel)]="formData.destinatario" required>
        <option [value]="correos[0]">{{ correos[0] }}</option>
        <option [value]="correos[1]">{{ correos[1] }}</option>
      </select>
    </label>

    <button type="submit" [disabled]="formulario.invalid">Enviar mensaje</button>
  </form>
</section>


